<!DOCTYPE html>
<html>
  <head>
    <title>To Do List</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="to-do-list.component.css" />
    
    <link rel="icon" href="toDoList.png" type="image/png" />
    <script src="app.js" defer></script>
  </head>
  <body>
    <div class="navbar"></div>
    <br />

    <div class="main">
      <div class="additem">
       
        <app-addmodal [modalName]="'add List'"  ></app-addmodal>
      </div>
      <div class="fakeimg">
        <table>
          <th>id</th>
          <th >name</th>
          <th colspan="2"> Action</th>
          <ng-container *ngFor="let l of list">
            <tr id="row" [class.selected]="isSelected(l)">
              <td>{{ l.id }}</td>
              <td>
                <button><b
                  #newname
                  (click)="onSelect(l)"
            
                  >{{ l.name }}</b
                ></button>
              </td>
             
                 
                  <td>
                    <app-addmodal [modalName]="'List Details'" [listId]="l" ></app-addmodal>
                  </td>
                  <td>
                    <i
                      id="delete"
                      (click)="delete(l)"
                      class="fa fa-trash-o" 
                      style="font-size:24px"
                    ></i>
                  </td>
             
            </tr></ng-container
          >
        </table>
      </div>
    </div>
    <div class="footer"></div>
  </body>
</html>