<!DOCTYPE html>
<html>
  <head>
    <title>tasks</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="tasks-inside.component.css" />
    <script src="app.js" defer></script>
  </head>
  <body>
    <div class="navbar"></div>
    <br />

    <div class="main">
      <div class="additem">
        <input class="w3-animate-input" #name placeholder="Add New Item " (keydown.enter)="setTaskName(name.value); name.value = ''" />
        <button (click)="setTaskName(name.value); name.value = ''">Add</button>
      </div>
      <div class="fakeimg">
        <table>
          <th>id</th>
          <th>name</th>
          <th>description</th>
          <th>creating date</th>
          <th>last update date</th>
          <th>start_date</th>
          <th>end_date</th>
          <th>current_state</th>
          <th></th>
        </table>
        <table *ngFor="let t of task">
          <tr *ngIf="t.ListId === this.listID">
            <th>{{ t.id }}</th>
            <th><b  #newname contenteditable="true" (keydown.enter)=" rename(t,newname.innerHTML)"  >{{ t.name }}</b></th>
            <th>{{ t.description }}</th>
            <th>{{ t.creating_date | date: "short" }}</th>
            <th>{{ t.lastupdate | date: "short" }}</th>
            <th>{{ t.start_date | date: "short" }}</th>
            <th>{{ t.end_date | date: "short" }}</th>
            <th>{{ t.current_state }}</th>
            <th><button (click)="delete(t)">delete</button></th>
          </tr>
        </table>
      </div>
    </div>
    <div class="footer">
      <button (click)="back()">back</button>
    </div>
  </body>
</html>
