<!DOCTYPE html>
<html>
  <head>
    <title>tasks</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="tasks-inside.component.css" />
    <script src="app.js" defer></script>
  </head>
  <body>
    <div class="navbar"></div>
    <br />

    <div class="main">
      <div class="additem">
        <app-taskmodal [modalName]="'add Task'"></app-taskmodal>
      </div>
      <div class="fakeimg">
        <table id="customers">
          <th>ID</th>
          <th>Name</th>

          <th colspan="3">Action</th>
          <ng-container *ngFor="let t of task">
            <tr id="row" >
              <td>{{ t.id }}</td>
              <td>
                {{ t.name }}
              </td>

             
                  <td>
                    <div [ngSwitch]="t.current_state">
                      <div *ngSwitchCase="'NOT Start'">
                        <div
                          *ngIf="
                            t.end_date >= getDate();
                            then then_block;
                            else else_block
                          "
                        ></div>
                        <ng-template #then_block>
                          <button (click)="changeState(t)" type="button" class="btn btn-success">
                            Start
                          </button>
                        </ng-template>
                        <ng-template #else_block>
                          <button (click)="changeState(t)" type="button" class="btn btn-danger">
                            Start
                          </button>
                        </ng-template>
                      </div>
                      <div *ngSwitchCase="'in Progress'">
                        <div
                        *ngIf="
                          t.end_date >= getDate();
                          then then_block;
                          else else_block
                        "
                      ></div>
                      <ng-template #then_block>
                        <button (click)="changeState(t)" type="button" class="btn btn-warning">
                          In Progress
                        </button>
                      </ng-template>
                      <ng-template #else_block>
                        <button (click)="changeState(t)" type="button" class="btn btn-danger">
                          In Progress
                        </button>
                      </ng-template>
                      </div>
                      <div *ngSwitchCase="'Done'">
                        <button type="button" class="btn btn-primary">Done</button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <app-taskmodal
                      [modalName]="'Task Details'"
                      [idT]="t"
                    ></app-taskmodal>
                  </td>
                  <td>
                    <i
                      id="delete"
                      (click)="delete(t)"
                      class="fa fa-trash-o"
                      style="font-size: 24px"
                    ></i>
                  </td>
                
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
    <div class="footer">
      <button (click)="back()">back</button>
    </div>
  </body>
</html>
