<!DOCTYPE html>
<html>
  <head>
    <title>tasks</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="tasks-inside.component.css" />
    <script src="app.js" defer></script>
  </head>
  <body>
    <div class="navbar"></div>
    <br />

    <div class="main">
      <div class="additem">
        <input
          class="w3-animate-input"
          #name
          placeholder="Add New Item "
          (keydown.enter)="addNewTask(name.value); name.value = ''"
        />
        <button (click)="addNewTask(name.value); name.value = ''">Add</button>
      </div>
      <div class="fakeimg">
        <table id="customers">
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          
          <th>Start date</th>
          <th>End date</th>
          <th>Current state</th>
          <th>Action</th>
          <ng-container *ngFor="let t of task">
            <tr id="row" *ngIf="t.ListId === this.listID">
              <td>{{ t.id }}</td>
              <td>
                <p
                  #newname
                  contenteditable="true"
                  (keydown.enter)="rename(t, newname.innerHTML)"
                >
                  {{ t.name }}
                </p>
              </td>
              <td>
                <p
                  #newDiscrition
                  contenteditable="true"
                  (keydown.enter)="
                    changeDiscription(t, newDiscrition.innerHTML)
                  "
                >
                  {{ t.description }}
                </p>
              </td>
              
              <td>{{ t.start_date | date: "short" }}</td>
              <td>{{ t.end_date | date: "short" }}</td>
              <td>{{ t.current_state }}</td>
              <td>
                <tr>
                  <td><button type="button" class="btn-info">Info</button></td>
                  <td>
                    <button type="button" class="btn-success">Details</button>
                  </td>
                  <td>
                    <button type="button" class="btn-warning">Edit</button>
                  </td>
                  <td>
                    <i
                      id="delete"
                      (click)="delete(t)"
                      class="glyphicon glyphicon-trash"
                    ></i>
                  </td>
                </tr>
              </td>
            </tr>
          </ng-container>
        </table>
      </div>
    </div>
    <div class="footer">
      <button (click)="back()">back</button>
    </div>
  </body>
</html>
