<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalName }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div [ngSwitch]="modalName">
    <div *ngSwitchCase="'add List'">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="listName">List Name</label>
            <input
              id="listName"
              #listName
              placeholder="Add New List Name "
            />
            <div class="input-group"></div>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="
              modal.close('Save click');
              addlist(listName.value);
              listName.value = ''
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'List Details'">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <table class="table table-bordered">
              <tr scope="row">
                <td scope="col">
                  <label for="newlistName">List Name</label>
                </td>
                <td scope="col">
                  <b id="newListName" #newListName contenteditable="true">
                    {{ id.name }}</b
                  >
                </td>
              </tr>
              <tr scope="row">
                <td scope="col">
                  <label >creating date</label>
                </td>
                <td scope="col">
                  {{ id.creating_date | date: "short" }}
                </td>
              </tr>
              <tr scope="row">
                <td scope="col">
                  <label >last update </label>
                </td>
                <td scope="col">
                  {{ id.lastupdate | date: "short" }}
                </td>
              </tr>
            </table>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="
              modal.close('Save click'); updateList(newListName.innerHTML)
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'add Task'">
      <div class="modal-body">
        <form>
          <div class="form-group">
             
          
            <table class="table table-bordered">
              <tr scope="row">
                <td scope="col">
                  <label for="taskName">List Name</label>
                </td>
                <td scope="col">
                   <input  class="form-control" id="taskName" #taskName contenteditable="true"  placeholder="Add Task Name ">
                  
                </td>
              </tr>
              <tr scope="row">
                <td scope="col">
                  <label for="taskDescription">List Name</label>
                </td>
                <td scope="col">
                   <input  class="form-control" id="taskDescription" #taskDescription contenteditable="true"  placeholder="Add Task Description ">
                  
                </td>
              </tr>
              <tr scope="row">
                <td scope="col">
                  <label for="startTask">startting date</label>
                </td>
                <td scope="col">
                  <div class="input-group">
                  <input
                id="dateOfBirth"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="startT"
                ngbDatepicker
                #startT="ngbDatepicker"
              />
              <div class="input-group-append">
               <button
                  class="btn btn-outline-secondary calendar"
                  (click)="startT.toggle()"
                  type="button"
                ></button>
              </div></div>
                </td>
              </tr>
              <tr scope="row">
                <td scope="col">
                  <label for="endTask">End date</label>
                </td>
                <td scope="col">
                  <div class="input-group">
                  <input
                id="dateOfBirth"
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="endT"
                ngbDatepicker
                #endT="ngbDatepicker"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary calendar"
                  (click)="endT.toggle()"
                  type="button"
                ></button>
              </div></div>
                </td>
              </tr>
            </table>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="
              modal.close('Save click');
              addTask(taskName.value);
              taskName.value = ''
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div [ngSwitch]="modalName">
  <div *ngSwitchCase="['add List' , 'add Task'].includes(modalName) ? modalName : ''">
    <button class="btn-outline-primary" (click)="open(content)">
      {{ modalName }}
    </button>
  </div>
  <div *ngSwitchCase="['List Details' , 'Task Details'].includes(modalName) ? modalName : ''">
    <button class="btn-info" (click)="open(content)">
      {{ modalName }}
    </button>
  </div>
  
</div>
