<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalName }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div [ngSwitch]="modalName">
    <div *ngSwitchCase="'add List'">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="listName">List Name</label>
            <input
              class="w3-animate-input addName"
              id="listName"
              #listName
              placeholder="Add New List Name "
            />
            <div class="input-group"></div>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="
              modal.close('Save click');
              addlist(listName.value);
              listName.value = ''
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'List Details'">
      <div class="modal-body">
        <form>
          <div class="form-group">
            <table class="table table-bordered">
              <tr scope="row">
                <td scope="col">
                  <label for="newlistName">List Name</label>
                </td>
                <td scope="col">
                  <b id="newListName" #newListName contenteditable="true">
                    {{ listId.name }}</b
                  >
                </td>
              </tr>
              <tr scope="row">
                <td scope="col">
                  <label for="newlistName">creating date</label>
                </td>
                <td scope="col">
                  {{ listId.creating_date | date: "short" }}
                </td>
              </tr>
              <tr scope="row">
                <td scope="col">
                  <label for="newlistName">last update </label>
                </td>
                <td scope="col">
                  {{ listId.lastupdate | date: "short" }}
                </td>
              </tr>
            </table>
          </div>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="
              modal.close('Save click'); updateList(newListName.innerHTML)
            "
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div [ngSwitch]="modalName">
  <div *ngSwitchCase="'add List'">
    <button class="btn-outline-primary" (click)="open(content)">
      {{ modalName }}
    </button>
  </div>
  <div *ngSwitchCase="'List Details'">
    <button class="btn-info" (click)="open(content)">
      {{ modalName }}
    </button>
  </div>
</div>
