ng-template {

    background-color: rgba(0, 0, 0, 0.5);

    z-index: 100;

    position: fixed;

    top: 0;

    left: 0;

}
label{
    color: blue;
}
#save,h4{
    color: tomato;
}
#close{
    color: red;
}
.modal-container {

    background-color: var(--white);

    margin: auto;

    position: relative;

    text-align: center;

    width: 30%;

    transform: translate(0, 70%);

}